head{
  color-scheme:rgb(252, 250, 250) ;font-style: oblique;background-color: rgba(255, 228, 196, 0.297);
}

body {
background-image: url(../static/Covid-nurses-1024x683.jpg);
/* background-size: 50%; */
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  

  }
h3{
  position: relative;
  font-size:x-large;
  color: rgb(254, 0, 0);
  font-family: 'League Gothic', sans-serif;
  
}

#para{
  color: rgb(41, 36, 36);
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(195, 197, 198);
  
}
  th{
    color: #1a1919;
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
  }

  #preloader{
    background: rgb(0, 0, 0) url(../static/corona.gif )center center no-repeat;
    opacity: 80%;
    background-size: 10%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index:100;
  }
  
  h1{
    font-family: 'League Gothic', sans-serif;
    /* color: black; */
    background: linear-gradient(330deg, #ffffff 25%, #ffffff 50%, #e1dbb1 75%, #ffffff 100%);
    /* background-image: url(../static/260250.jpg); */
    
      -webkit-background-clip:text;
    background-clip:text;
      -webkit-text-fill-color: transparent;
      font-weight: bolder;
    font-size:70px;;
      line-height: 120px;
     
      
    
  }
  h5{
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    background: #9f9e9d center;width: 50%;

  }
  h3{
    /* background-image: url(../static/260192.jpg); */
    
/* background-size: 50%; */
background-color:rgb(255, 234, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    font-size:25px;
    font-family: 'Raleway', sans-serif;
    font-weight:bolder;
    font-weight:bolder;
    text-transform: capitalize;  
    text-decoration: underline white 1px;
    
  }
h6{
  
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color:rgb(255, 234, 0);
  
  text-decoration: underline white .5px;
    
}